!!!5
html
	head
		meta(charset="utf-8")
		title 观影马拉松获奖名单 - 搜狐视频
		meta(name="description",content="")
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		meta(content="telephone=no",name="format-detection")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		link(type="text/css",rel="stylesheet",href="http://tv.sohu.com/upload/touch/static/styles/marathon/min.marathon.css")

	body.award-ann
		header
			h1 搜狐视频观影马拉松获奖名单

		.wrapper

			.inner
				h2 VIP季卡（第一阶段）
				//-
					p 刘闯 杨兆毅	覃达帅 毕洪岩 于婧 苗忠超 于凯 刘泽园 赵玉周 谢文瑾 韩飞 杨全福 熊卢 陈金龙 唐彬 杨晏冰 李天明 时淑杰 张元绅 俞波 陈莹 张洋  张其 周亚军 姚龙飞 刘俊利 代雪 xuhong 谢飞 张红 孙鹏玉 周娜 叶杰南 李勇 易晶 蒋东洋 吴奇军 王凯强 吴茜 陶帅 郎咸明 范晓星 宋中朴 惠亨昌 郑磊 刘伟 聂智东 李佳明 符锦 黄凌云 邓影 王奇 汪洋 林雪 司树浩 杨超 潘科成 周文洋 刘涛 王伟平 邹志勇 王超 蔡青青 刘博学 李炼 张非 黄蔓菁 袁建 王伊蕾 李柯洁 李成露 秦先生 孙红旭 朱敏 郭经纬 张慧珂 旷安全 苏树东 刘梦磊 刘晓 刘立波 尹先生 于明明 符颖丽 何健 夏熙 王大伟 张金阳 henry 祝敏 
	
					p 周新宇 王瑾 张艳 杨雪 雷佳 杜洲 牛东 赵伟 张 李方 张明 安徽 陈英 陈浩 赵根 经保 于浩 吴伟 周林 陈文 王栋 高文 曾文 魏登 刘浩 罗雪 谷加 李淑 曾富 李申 邵梦 邝琳 罗春 黄瑞 王钊 王媛 李淼 刘祥 葛彪 郭建 杨健 杨再 王翔 祝银 张 刘丽 荆璐 李腾 肖火 赖天 苏南 邹曰 周装 李伟 钟辉 杨扬 袁媛 张晗 魏单 岳成 方旋 雷杰 臧坤 陈飞 陈星 黄杰 柏长 徐行 刘岗 邓晓 王茂 李珍 徐娟 宋天 祝林 冯千 曾建 王丹 江暖 郭靖 王泽 小乐 谢镕 李佰 王道 王研 侯强 胡朋 马涛 林秋 蒋涌 杨艳 闫蒙 张振 刘晓 王志 孙梦 刘浩

				p 张宁 陈均银 蒋金峰 谢涛 郑永涛 李昕 赵家辉 马广伟 杨茜茜 王辉 安景锋 薛桂芳 严仁琪 李健 李岩 黄洁洁 黄贞集 毕延彪 苏威坼 李玛丽 李庆 阮琦 杨世豪 方成举 张力 刘俊文 刘光华 邓昃 牛牧野 陈路 吕书书 张婷 程祥 熊如红 李宣宣 王陈岩 李旭 王胜 阿迪力 兰莹莹 吴申童 项杰 张馨 贾士炜 郭剑 李豪 康小昂 杨登坤 张光付 纪枭 井芳 郭秋实 王丹 肖文 曲娜 王晓康 沈存林 耿洋 李展忠 林廷堤 胡启航 昌丹 冀华锋 行翀 魏安义 娄荣敏 卢旺 陈广勇 董静 徐继亮 万青松 戈连峰 人字拖 李升华 亓凤丹 凝凝 侯都成 曾月 王益 郭磊 白玉 李艳菲 李佩峰 邹伊依 郭访 杨赫 马千里 李金隆 张晓金 孟朝阳 朱佳飞 朱兆祥 魏晨 332 曹贤贤 凝望未 韩伟 陈玉娥 杨浩 宁克举 TT 张新川 樊志鹏 尹文秀 崔成龙 魏来 曲国栋 代波 黄德钢 管彬 王晓龙 李洪岩 杨雨菲 任吉庆 刘江 马乾武 左春林 项蕴旻 张宇光 杨晶心 郭海平 吕恩章 孟海军 周笛 赵伟康 刘佳琦 董旺业 王延飞 陆伟军 张江萍 李毅 文红霞 郭长泽 史文强 王晓猛 任金磊 焦帅 宋悦 苏园 刘龙 郑杰 王海伟 夏超峰 段夕贤 唐运宁 文世豪 梁洪玮 屈新 骆佳 何军强 陈攀登 王强 魏超 向何 刘天宇 邹丽 王永强 王涛 彭君 文少菲 万慧 王世生 应建晴 牛治中 薛胜役 童金利 费杰标 刘根民 徐轲 路明 张海霞 郭晨 郭萍 加利 陈惠燕 应芳	 汤瑾	 刘晨光 黄文拾 刘畅畅 郝军	 刘培山 宣靖	 张立强 钱静	 张涛	 张遇夏 欧民兴 冯庆胜 李涛	 王军宣 齐玥	 王波	 刘永恒 邢晨	 黄少平 方宗周 卢灿铭 吕章清 叶辰	 徐夫宇 李绍龙 刘刚	 杨满盈 张雨薇 龚明康 刘永晓 汪雄亮 岳玉荣 刘福宏 张俊曦 张鹏	 满健均 王腾腾 张喜	 尤静	 李跃梅 赵飞	 刘飞	 王大千 李鹏	 王力	 马钢伟 蒋炎斌 黄海洋 杨兴	 王玉涛 张豪	 岳佳	 冯鹤翔 王飞龙 田小锋 徐萌	 齐兵	 焦体浩 丁峰	 何斌	
			
				p 李浩 张斌 boyce 周琴 张梅 刘云龙 刘坤涛 李嘉旺 董刚	 赵颜刚 周硕	 吕浩然 蔡澤鑫 关红涛 李涛	 顾仁	 高巍	 张爱玲 梁茜雯 吴树根 韩明	 马祥健 胡志文 库青岩 宋佳	 董传才 孙文方 蒋若云 姜殿斌 李逸轩 何惠	 刘洋	 徐婷	 吕岩	 冯青青 张翔	 吴海明 尤岺	 孙平	 杜忠明 梁良	 董鑫	 田马	 jg刘新 张欣冉 李强	 俞文彬 张学敏 汤家兴 钟立权 张晶晶 陈思源 侯正峰 王金龙 黄 徐建昆 孙伟明 冯艳 唐明虎 lihuij 程静 甘永健 张强 张茜 赵圆圆 李引军 周维洋 李长军 杨哲宇 张天光 任建新 李晓勇 周燕 蔡欣新 滕佳佳 孟祥欢 屈韵清 杨耀辉 孔双伟 刘凯凯 孙京文 何强 任保建 刘东来 刘鹏 彭仕豪 王艳泠 江哥 894839 赵通 郑娜  魏娜 张媛 陈乔 杨铭骞 姬武刚 魏向宗 陈思宇 薛陶陶 凌云 王少芳 钟益锋 吴波 王微 康宁 万紫薇 关青男 敖雪 张学刚 宋亚男 孙志东 范志青 陈立辉 向乐芝 贾海娇 王蛟 楚中磊 朱伟超 王花 马照东 袭越 张津 hanxin 史朋 战佳宁 陈伟玉 朱叶海 李培 407066 王立坚 王聪 杨盼盼 李欢 推车人 李亚军 陈娟 任喆 李辉 杨欢 余荣 李振国 王建新 木若雨 崔钰辉 龚素 李合畅 谢建友 周凤英 李利娜 肖玉赛 王资强 李良 鲍康康 李雪超 卢伟宁 熊正琴 欧阳鸣 王成宏 何雨峰 冯营 张兴崇 何川 杨建利 罗岗 袁春炜 吴红萍 古小青 宿慧 笑魇如 关青男 曾琴 田雪梅 黄俊强 刘磊 林东朝 李进 dj 李武伟 张雨西 陈阳 张林 王宇凡 李先生 吴茜  王辉 张沛亮 景新龙 朱海华 赵蕾 胡浪 付棒棒 王腾 罗俊 尹二涛 王彩虹 杜岚 王彦龙 孙斌 张旭 陈梦旭 王强 王波 孙甫超 赵蕊 成源 廖健康 崔君辰 汪桃荣 万远兵 李美晨 韦名名 吕娜 安然 林卫东 谭茂星 邓亮亮 李光兴 王斌 董方 焦鹏飞 刘淼 闫嶙 李高飞 赵延坡 李璐璐 陈永泉 李景涛 苏涛 王江波 汤应常 白学杰 周月强 文琪 苗强 林生灿 毛金 谭浩 王文晓 东华 张威 刘百平 许康桂 贾庆双 江军席 漆森林 周炎 马磊 詹益舟 郑影 闫换龙 吕培志 姚传峰 蔡庆东 李强 龚艳辉 程峰 邱寿水 杨璐 张长兵 300 lll 冯豪杰 樊志远
			
				p 汪文华 曲世斌 胡玉杰 简单爱 尹宇宸 王然 张舒雅 孙敏文 许帅 张博 马鸿颖 汤旭 尤瑞林 赵燚 周建军 胡英健 宫雪 余伟锋 杜小小 吴浩林 王雪芹 罗洋 梁崇海 张天强 施宋辉 李亚鹏 赵丹 毛慧仙 张双双 戴亮 张雨 刘丹 杜伟 康哲铭 陈轩 赵颖 屠宏 张春燕 和孟 程杰 桂森 张文霖 陈青 张枫秋 张华 刘孟强 董莉 张长友 胡艳良 张涛 李晨 袁鹤 张海潮 芦丽萍 李德 胡双龙 靳俊涛 刘壮 叶贞 刘茜 刘忠全 陈磊 吴纪传 张浩 欧玉芳 王占月 杨雷山 刘伟 刘小舟 林国方 吴雪妍 张敏 魏耀威 赵学贤 王闯 陈晓玲 李志华 王雁娟 梁宏开 郭建国 李瑶 古金请 金凯月 李飞 赵霞 吴建峰 王彭 沈亚凯 付金岚 苏长斌 马利恒 杜祥奇 李响 刘丹平 张吉超 胡园梨 贾鹏程 袁宏伟 郝晨宗 王彦双 张涛 颜小龙 赵静 李松 王韬 何高峰 王野 吕娜 陈琳 张文斌 关磊 杜超 sun 和钟文 史洋洋 杨铁军 宋伟 王策 项武 李潮杰 limi	 杨闪闪 萧雅 曹炜 郭风雷 张朋 曹崑 陈慧欣 王茜茜 巩雅琳 刘兵 周畅 孙鹏 邹军 宋倩楠 吴少峰 申中伟 岳松 李志杰 李绍勇 韩大鹏 周姗姗 毛立彤 郭强 张作然 李巨霞 吴学坚 吴娇翠 马何勇 唐世健 邢晓勇 白健清 魏勇 熊振义 张长江 尹某某 关玲 张运涛 薛飞 卞建尧 付振华 蔡俊 李鹤 张艺 赵铭 袁立 刘影 刘华 張馨月 关力 吴常花 赵永平 扈圣涛 潘厚宝 李选国 刘青 李亚徽 邵冰冰 邢彬彬 高璞 李宙环 董海龙 张强 赵祥 陈凯凯 张淳 周波 许晶雯 金郁翔 丁少平 张强 李杰 刘玄 曹振宏 霍楠楠 董春雨 刘兴莲 闫国伟 王彪 常宁 黄启光 张苗苗 申晓莎 张佳琪 王锋 严春 杨伟 刘帅哥 小伟 邱先辉 陈月纯 梁雪 彭宗满 张梦娇 邓楚维 吴玲苑 徐长航 文翔 公方启 李小輝 李艳 李旺 玉 姚炳光 董怡 贾维庆 高虹 张鹏 曾玉婷 郭凯 王豹 郭利川 何蕾 邱挺 杨国生 张家梓 原超峰 郑志雄 肖锋 韩玉丽 韦莎源 王剑飞 任霞 陆星 陈玺龙 孔磊 陶宏毅 王文灏 金海龙 尚瑜 李成 姜斌 刘秀枝 张伟 孙铭锾 孙考鸿 蔡丽媛 张琳 张骏 文李煜铭 王智慧 任永利 温凯锋 陈静 王嘉伟 路青 宁海滨 王萌萌 熊平 揭莑 陈雅斐 康宁 许愿 张凯霆 张程 李东 余振华 徐庆君 田晓 胡斌 任飞飞 祝宁宁 魏青松 符德江 赵俊 翟东海 赵子文 黄飞丽 麦德文 陈哲朋 刘晓明 李静  肖华	 马然 王宗福 廖冬兵 张浩浩 李强 袁磊 邓毅 杨文 宇文敏昭 肖新杰 李超 张景慧 朱伟伟 周玉兴 刘亚亚 罗广林 李佳俊 岳宗晓 张怀亮 李帅 罗家健 卢毅东 李巧环 冯建 王莉娜 王君 赵攀胜 朱晗霖 原利 董国栋 韩琪 金剑 荀宠真 李慕洁 高刚刚 黄聪明 赵艳兵 罗莎 李双凤 朱庆伟 洪峰 郭燕 成俊俊 贾延涛 杨志宾 陈远东 蔡其树  牛兴旺 黄应球 齐天 吕飞

				h2 小米盒子
				p 张愿愿

			.ft.footer
				b 
				p  本活动最终解释权归搜狐视频所有