!!!5
html
	head
		meta(charset="utf-8")
		title 观影马拉松 - 搜狐视频
		meta(name="description",content="")
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		meta(content="telephone=no",name="format-detection")
		//-
			http://tv.sohu.com/upload/touch/static/styles/marathon/min.marathon.css
			http://tv.sohu.com/upload/touch/static/scripts/marathon/min.marathon.js

			/static/css/min.marathon.css
			/static/js/min.marathon.js

		meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		link(type="text/css",rel="stylesheet",href="http://tv.sohu.com/upload/touch/static/styles/marathon/min.marathon.css")
		script(type="text/javascript",src="http://tv.sohu.com/upload/touch/static/styles/marathon/min.marathon.css",charset="UTF-8")
		link(rel="shortcut icon",href="/favicon.ico")
	body
		noscript
			p 您的浏览器没有开启Javascript，将无法参与活动
		.wrapper

			.popup.user-info
				p 感谢您参与本次活动！请如实在下方对话框填写个人信息，以便我们为您发送奖品！
				form
					input(type="text",value="",name="name",placeholder="姓　　名")
					input(type="text",value="",name="phone",placeholder="手机号码")
					input(type="text",value="",name="email",placeholder="电子邮箱")
					input(type="text",value="",name="address",placeholder="地　　址")
					input(type="text",value="",name="postcode",placeholder="邮　　编")
					input.button.active.submit(type="button",value="我要提交")
			.popup.success
				p.type1 感谢您提交的个人信息！随后我们将与您取得联系及发奖，谢谢！
				p.type2 感谢您提交的个人信息！待活动结束后，我们将统一为您发送奖品，谢谢您对本活动的支持！

			.hd.cover
				.hd
				.ft

			.bd.content
				.tabs
					ul.hd
						li
							span 观剧热潮
							b 第一波
							em 11月25日起
						li
							span 观剧热潮
							b 第二波
							em 12月2日起
						li
							span 观剧热潮
							b 第三波
							em 12月9日起
						li
							span 观剧热潮
							b 第四波
							em 12月16日起
						li.last
							span 观剧热潮
							b 终极大奖
							em 全程累计

				.boo(boo=1)
					.rules
						p.time 活动时间：
							span 2013.11.25 00:00 - 2013.12.1 24:00
						p 活动规则：
						ul
							li.only-client 需更新v3.5版本
							li 点击“立即参与”按钮，即可获得参与资格
							li 在
								span.only-h5 搜狐视频移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）或
								span 搜狐视频安卓客户端收看视频，累计观看次数
							li 以“周”为单位，累计观看视频次数最多的观众，赠送小米盒子/1台，凡累计观看视频次数达到100次以上的观众，即赠送搜狐视频Vip季卡/1张，享受视频无忧观看无广告流畅体验！
						.ft
							button.join 立即参加

					.award
						ul.bd
							li
								b.img(type=1)
								button 您未参加
								span 体验奖
								b VIP季卡 ｘ１
								em 中奖条件：累计观看次数达到100次
							li
								b.img(type=2)
								button 您未参加
								span 铁杆奖
								b 小米盒子 ｘ１
								em 中奖条件：周观看次数排名第一
							li
								b.img(type=9)
								button 您未参加
								span 终极大奖
								b iPhone 5s ｘ１
								em 中奖条件：总观看次数排名前五

				.boo(boo=2)
					.rules
						p.time 活动时间：
							span 2013.12.2 00:00 - 2013.12.8 24:00
						p 活动规则：
						ul
							li.only-client 需更新v3.5版本
							li 点击“立即参与”按钮，即可获得参与资格
							li 在
								span.only-h5 搜狐视频移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）或
								span 搜狐视频安卓客户端收看视频，累计观看次数
							li 以“周”为单位，累计观看视频次数最多的观众，赠送小米2手机/1台；累计观看次数前50名，赠送粉丝搜狐狐狸公仔/1只；凡累计观看视频次数达到100次以上的观众，即赠送搜狐视频Vip季卡/1张，享受视频无忧观看无广告流畅体验！
						.ft
							button.join 立即参加

					.award
						ul.bd
							li
								b.img(type=1)
								button 您未参加
								span 体验奖
								b VIP季卡 ｘ１
								em 中奖条件：累计观看次数达到100次
							li
								b.img(type=3)
								button 您未参加
								span 铁杆奖
								b 狐狸公仔 ｘ１
								em 中奖条件：周观看次数排名前五十
							li
								b.img(type=4)
								button 您未参加
								span 铁杆奖
								b 小米MI2 ｘ１
								em 中奖条件：周观看次数排名第一
							li
								b.img(type=9)
								button 您未参加
								span 终极大奖
								b iPhone 5s ｘ１
								em 中奖条件：总观看次数排名前五

				.boo(boo=3)
					.rules
						p.time 活动时间：
							span 2013.12.9 00:00 - 2013.12.15 24:00
						p 活动规则：
						ul
							li.only-client 需更新v3.5版本
							li 点击“立即参与”按钮，即可获得参与资格
							li 在
								span.only-h5 搜狐视频移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）或
								span 搜狐视频安卓客户端收看视频，累计观看次数
							li 以“周”为单位，累计观看视频次数最多的观众，赠送iPad mini/1部；累计观看次数前100名，赠送粉丝限量版海贼搜狐狐狸公仔/1只；凡累计观看视频次数达到100次以上的观众，即赠送搜狐视频Vip季卡/1张，享受视频无忧观看无广告流畅体验！
						.ft
							button.join 立即参加

					.award
						ul.bd
							li
								b.img(type=1)
								button 您未参加
								span 体验奖
								b VIP季卡 ｘ１
								em 中奖条件：累计观看次数达到100次
							li
								b.img(type=5)
								button 您未参加
								span 铁杆奖
								b 海贼狐狸公仔 ｘ１
								em 中奖条件：周观看次数排名前一百
							li
								b.img(type=6)
								button 您未参加
								span 铁杆奖
								b iPad mini ｘ１
								em 中奖条件：周观看次数排名第一
							li
								b.img(type=9)
								button 您未参加
								span 终极大奖
								b iPhone 5s ｘ１
								em 中奖条件：总观看次数排名前五

				.boo(boo=4)
					.rules
						p.time 活动时间：
							span 2013.12.16 00:00 - 2013.12.31 24:00
						p 活动规则：
						ul
							li.only-client 需更新v3.5版本
							li 点击“立即参与”按钮，即可获得参与资格
							li 在
								span.only-h5 搜狐视频移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）或
								span 搜狐视频安卓客户端收看视频，累计观看次数
							li 以“周”为单位，累计观看视频次数最多的观众，赠送Note2手机/1台;累计观看次数前100名，赠送粉丝移动充电宝/1个；凡累计观看视频次数达到100次以上的观众，即赠送搜狐视频Vip季卡/1张，享受视频无忧观看无广告流畅体验！
						.ft
							button.join 立即参加

					.award
						ul.bd
							li
								b.img(type=1)
								button 您未参加
								span 体验奖
								b VIP季卡 ｘ１
								em 中奖条件：累计观看次数达到100次
							li
								b.img(type=7)
								button 您未参加
								span 铁杆奖
								b 移动充电宝 ｘ１
								em 中奖条件：周观看次数排名前一百
							li
								b.img(type=8)
								button 您未参加
								span 铁杆奖
								b 三星Note2 ｘ１
								em 中奖条件：周观看次数排名第一
							li
								b.img(type=9)
								button 您未参加
								span 终极大奖
								b iPhone 5s ｘ１
								em 中奖条件：总观看次数排名前五

				.boo(boo=5)
					.rules
						p.time 活动时间：
							span 2013.11.25 00:00 - 2013.12.31 24:00
						p 活动规则：
						ul
							li.only-client 需更新v3.5版本
							li 参与观剧热潮四波中的任意一波，即自动获得终极大奖资格
							li 在
								span.only-h5 搜狐视频移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）或
								span 搜狐视频安卓客户端收看视频，累计观看次数
							li 收看搜狐全网视频，活动周期内累计次数前五名的观众，将会获赠粉丝大奖IPhone5S一台！
						.ft
							

					.award
						ul.bd
							li
								b.img(type=9)
								button 您未参加
								span 终极大奖
								b iPhone 5s ｘ１
								em 中奖条件：总观看次数排名前五

				.award-des
					p * 观看次数计算：观看一次正片30秒以上即算一次观看次数；
					p * 每日观看及排名数据更新时间为次日12:00；
					p * 此活动面向搜狐视频Android客户端用户、移动网页版（<a href="http://m.tv.sohu.com">m.tv.sohu.com</a>）用户开放。两平台均可进行活动参与，但数据不进行累计；
					p * 欲了解活动进程及详情，可关注搜狐视频移动客户端官方微信：
						b sohutvapp
					p * <a href="http://m.tv.sohu.com/mb/avt/award.html">戳此</a>查看获奖名单

				.recommend
					.hd 小狐推荐
						a(href="http://m.tv.sohu.com") 更多 &gt;
					.bd.scroll_wrap
						.scroller
							a.box.item(href="http://m.tv.sohu.com/v1393114.shtml",vid="1393114",cid="2",sid="5081714",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20131104/vrsab_ver5081714.jpg)")
									span
								p 咱们结婚吧
							a.box.item(href="http://m.tv.sohu.com/v1368934.shtml",vid="1368934",cid="2",sid="5986138",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20131104/vrsab_ver5986138.jpg)")
									span
								p 特种兵之火凤凰
							a.box.item(href="http://m.tv.sohu.com/v1349194.shtml",vid="1349194",cid="2",sid="5943232",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20131009/vrsab_ver5943232.jpg)")
									span
								p 继承者们
							a.box.item(href="http://m.tv.sohu.com/v1336625.shtml",vid="1336625",cid="2",sid="5690721",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20130808/vrsab_ver5690721.jpg)")
									span
								p 生活大爆炸第7季
							a.box.item(href="http://m.tv.sohu.com/20130924/n387126789.shtml",vid="1332055",cid="2",sid="5690705",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20130807/vrsab_ver5690705.jpg)")
									span
								p 破产姐妹第3季
							a.box.item(href="http://m.tv.sohu.com/v1380387.shtml",vid="1380387",cid="2",sid="5038242",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20120803/vrsab_ver5038242.jpg)")
									span
								p 金玉满堂

						.scroller
							a.box.item(href="http://m.tv.sohu.com/20131122/n390634777.shtml",vid="1417933",cid="7",sid="5888507",catecode="106")
								b(style="background-image:url(http://photocdn.sohu.com/20131122/vrs1037320_pic3.jpg)")
									span
								p 爸爸去哪儿
							a.box.item(href="http://m.tv.sohu.com/v1418957.shtml",vid="1418957",cid="7",sid="3082",catecode="106")
								b(style="background-image:url(http://photocdn.sohu.com/20131123/vrs_ver1038089_pic3.jpg)")
									span
								p 快乐大本营
							a.box.item(href="http://m.tv.sohu.com/20130415/n372763492.shtml",vid="1006748",cid="16",sid="1007474",catecode="115")
								b(style="background-image:url(http://photocdn.sohu.com/20130624/vrsab_ver1007474.jpg)")
									span
								p 海贼王
							a.box.item(href="http://m.tv.sohu.com/20131114/n390167996.shtml",vid="1405381",cid="2",sid="5500767",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20131114/vrsab_ver5500767.jpg)")
									span
								p 爱闪亮
							a.box.item(href="http://m.tv.sohu.com/20131118/n390358257.shtml",vid="1407282",cid="2",sid="5788502",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20130826/vrsab_ver5788502.jpg)")
									span
								p 闺中密友
							a.box.item(href="http://m.tv.sohu.com/20131120/n390498324.shtml",vid="1414285",cid="2",sid="1010176",catecode="101")
								b(style="background-image:url(http://photocdn.sohu.com/20131120/vrsab_ver1010176.jpg)")
									span
								p 最美的时光
				
				.vip
					.hd 会员优势
					.bd
						.box
							b.vip1
							p 免费看大片
						.box
							b.vip2
							p 全站去广告
						.box
							b.vip3
							p 高速通道
			.mask

			.pinner
				b 安装搜狐视频客户端
				b.nx 升级到3.5版本
				span 更轻松赢大奖
				span.nx 才能参与活动哦
				a.app_download.button.active 立即下载
				a.app_download.button.active.nx 立即升级
				em

			.ft.footer
				b 
				p  本活动最终解释权归搜狐视频所有